---
title: "Danger Zone Fitness Test - Results"
date: "2016-09-02"
categories: 
  - "danger-zone"
---

14 PAX showed up for the first ever Dangerzone Fitness Test. It was hovering around 75 degrees and the humidity was right around 94%. YHC usually likes to post the backblast earlier in the day. I can assure you, given what we did this morning, I had to rest until I had enough strength to type.

Seriously.

It hurts to type.

If you want to see what we did, take a look at the [PreBlast.](http://f3nation.com/2016/08/31/its-about-to-go-down/) In it, you’ll see the I naively set the bar at 5 laps. I was lucky to finish half of that. Like, no kidding, this really sucked!

**WARM UP**

We started off by running to Smurf Island, and did the following:

- Good Mornings
- Sir Fazio Arm Circles, forward and reverse
- Windmills
- Imperial Walkers

**THE THANG**

We did the DZ Fitness Test.

**COT**

- Count-o-rama: 14 PAX.
- Name-o-rama: Still 14
- Announcements: 9/11 Stair Climb, Convergence at Pullen Park for Labor Day
- Prayer Requests: The Barry’s and their premie baby, CD’s wife, Saban’s travels, Cheese’s friend(?) whose baby has terminal cancer

**NMS**

- Yo…that was so much harder than I thought it was going to be. I don’t know what I was thinking when I thought I could do 5 laps.
- In hindsight, the Bear Crawls were a little excessive.
- In hindsight, Alternating Step Ups AFTER climbing the Stairway to Hell is not a great choice.
- In hindsight, box jumps after the first round get _really_ sketchy.
- Did I mention the Bear Crawls?
- What’s worse is that I couldn’t eat anything afterwards because I had to go get blood drawn for a physical. I’m still shaky, no joke!
- Billy doesn’t check twitter often. I think that’s a good thing, else he might have not wanted to post today.

Here are the results (let me know if what I have listed is incorrect):

- Free Lunch – 2.8
- Shank – 2.9
- Bartman – 2.4
- Smokey – 2.4
- Billy – 2.9
- Saban – 3.2
- Coney – 2.9
- Jelly Belly – 2.1
- Ice Age – 2.9
- Cheese – 2.5
- Blue & Out – 3.1
- Banjo – 3.6
- Shut in – 2.9
- Callahan – 2.9

Here is what the .1, .2, .3, etc. stand for:

- Burpees -1
- Box Jumps – 2
- Bear Crawl – 3
- Merkins – 4
- Irkens/Derkins – 5
- ALRSU – 6
- Dips – 7
- Bear Crawl – 8
- Prisoner Squats – 9

A few thoughts:

1. Banjo is out of his mf’ing mind. I hope I’m that spry when I’m 50.
2. Everyone finished at least two laps. Although, I’m not sure how accurate some of the totals were. All numbers were self-reported to YHC and oxygen flow to the brains of the PAX was certainly not at optimal levels.
3. I’m sorta glad this was hella hard. I don’t like gaudy numbers that don’t mean much. Give me a 1-Nil futbol match over a 132-128 NBA game any day.
4. I wonder how high Ma Bell’s blood pressure is after reading that last one?
5. So…this is how it went – I came out of the gate trying to push the pace. To get 5 laps, I knew I’d need to average 7 min/lap. We finished the first lap in 9 minutes. Uh oh. Lap 2 took 13 minutes. Really? It took me the remaining 13 minutes to finish all but the last hill climb.
6. Did I mention anywhere above how hard this was? No?
7. It was hard.
8. BARTMAN DID THE ENTIRE THING WITH A FREAKIN’ RUCKSACK!!!!!
9. Go read #8 again. DId you do it? No? Go do it, seriously. I can wait.
10. You shouldn’t be reading this point because you should have gotten caught in a never ending loop somewhere between #8 and #9. But since you can’t follow simple directions, we’ll just move on.
11. Anyway…That’s borderline insanity. I like it a lot.
12. Sorry this BB is so late. I just..well…you know, we flew to Indy the next day…and I at least wrote the draft on Friday….but I had more things to say…so I just now posted it. Don’t you judge me!

See you in the gloom

Callahan
